.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, .075);
  border-radius: 12px;
  overflow: hidden;
  transition: all .4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, .06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: .8rem;
}

.tag {
  display: inline-block;
  padding: .4rem .8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 10rem;
  font-weight: 600;
}

.tag.tag-vegan {
  background: #94d82d;
}

.tag.tag-vegetarian {
  background: #51cf66;
}

.tag.tag-paleo {
  background: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icon-tabler {
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  gap: 1.6rem;
}

.list-item svg {
  width: 3rem;
  height: 3rem;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}